<!DOCTYPE html>
<html lang="en">
<head>
    <title>Google Trends Parameters</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .left-align {
            text-align: left;
            margin-left: 10px; /* Add left margin for better alignment */
        }
    </style>
</head>
<body>
    <div class="google-container">
        <h1>Google Trends Parameters</h1>
        <form method="POST">
            <label for="keywords">Keywords:</label>
            <input type="text" name="keywords" id="keywords" value="{{ keywords }}" required><br><br>
            <label for="timeframe">Timeframe:</label>
            <input type="text" name="timeframe" id="timeframe" value="{{ timeframe }}" required><br><br>
            <div class="left-align">
                <label for="update-chart-label">Click the button below to update the chart</label><br>
                <button type="submit" class="show-log">Update Parameters</button>
            </div>
        </form>
        <br>
        <div class="left-align">
            <label for="empty-label"> </label><br>
            <label for="back-to-home-label">Go back to home page</label><br>
            <a href="/"><button class="btn-home">Back to Home</button></a> <!-- Apply the "btn-home" class -->
        </div>
    </div>
    <div class="chart-container">
        <canvas id="google-trend-chart"></canvas>
    </div>
</body>

<script>
    // Get the chart canvas element
    const chartCanvas = document.getElementById('google-trend-chart');

    // Extract the data from the server response
    const trendsData = {{ trends_data.to_json(orient='split') | safe }};
    console.log(trendsData);
    console.log(' ');
    // Format date strings
    const formattedDates = trendsData.index.map(dateString => {
        const date = new Date(dateString);
        return `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`;
    });

    const chartData = {
        labels: formattedDates, // Use the formatted dates as labels
        datasets: [{
            label: "{{ keywords }}",
            // Retrieve only the numeric data values
            data: trendsData.data.map(item => item[0]),
        }],
    };
    // show label of chart data in console
    console.log(chartData);
    const myChart = new Chart(chartCanvas, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
</html>
