<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Logger App</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVE1J5NDNL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PVE1J5NDNL');
    </script>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="text-align: left;">
    <div class="container">
        <h1>Welcome to Antoine's webpage</h1>
    </div>
    <div class="container">
        <p style="text-align: left;">Enter a log to display it:</p>
        <form method="POST" class="button-container">
            <textarea name="log" rows="4" cols="50"></textarea><br><br>
            <div class="show-log-container">
                <button type="submit" class="show-log">Show Log</button>
            </div>
        </form>
        <br>
        <p style="text-align: left;">Logged Text:</p>
        <p style="text-align: left;">{{ log_text }}</p>
    </div>

<!-- Separate container for number of visitors and refresh button -->
<div class="visitors-container">
    <div>
        <label for="start-date" style="width: 130px; display: inline-block;">Start date:</label>
        <input type="text" id="start-date" value="28daysAgo" placeholder="28daysAgo" class="date-input">
    </div>
    <div>
        <label for="end-date" style="width: 130px; display: inline-block;">End date:</label>
        <input type="text" id="end-date" value="yesterday" placeholder="yesterday" class="date-input">
    </div>
    <button type="button" class="refresh-visitors" id="refresh-visitors">Refresh Visitors</button>
    <br>
    <p style="text-align: left; width: 500px;">
        Total of <strong>new users</strong> during the selected period: <span id="new-users">{{ number_of_visitors.new_users }}</span>
    </p>
    <p style="text-align: left; width: 500px;">
        Total of <strong>users</strong> during the selected period: <span id="total-users">{{ number_of_visitors.total_users }}</span>
    </p>
        </div>
    <script>
        console.log("{{ log_text }}");
    </script>
    <script>
        const refreshButton = document.getElementById('refresh-visitors');
        const startDateInput = document.getElementById('start-date');
        const endDateInput = document.getElementById('end-date');
        const newUsers = document.getElementById('new-users');
        const totalUsers = document.getElementById('total-users');
    
        refreshButton.addEventListener('click', () => {
            const startDate = startDateInput.value;
            const endDate = endDateInput.value;
    
            // Send an AJAX request to your Flask route with the selected dates
            fetch(`/refresh-visitors?start_date=${startDate}&end_date=${endDate}`)
                .then(response => response.json())
                .then(data => {
                    newUsers.textContent = data.new_users;  // Update new users count
                    totalUsers.textContent = data.total_users;  // Update total users count
                });
        });
    </script>

<div class="ggtrend-container">
    Go to Google Trend Chart
    <a href="/google-trend"><button class="btn-home">Show Google Trend</button></a>
</div>

</body>
</html>